*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.container-fluid {
    padding: 8rem 6rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}

@media screen and (max-width:768px) {
    .container-fluid {
        padding: 8rem 1rem;
    }

    .navbar {
        background: linear-gradient(to right, #000000, #111613, #202c22, #2f4131, #405742);
        padding: 0;
    }
}

/* ----------  Navbar  ---------- */

.navbar {
    background: linear-gradient(to right, #000000, #111613, #202c22, #2f4131, #405742);
    padding: 0;
}

.navbar .navbar-expand-lg .fixed-top {
    position: relative;
    top: 0;
    z-index: -6;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: 525;
    color: #355d39
}

.navbar-brand span {
    margin-left: 10px;
    padding-top: 10px;
    color: #355d39;
}

.navbar-nav .ms-auto .mb-2 .mb-lg-0 li a {
    color: #95b391;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    background-color: #95b391;
    width: 0%;
    height: 4px;
    transition: all .5s;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 80%
}

.navbar .navbar-nav .nav-link {
    padding: 1rem;
    color: #95b391;
}

/*----------  Home  ----------*/

.home {
    background: linear-gradient(to right, #000000, #111613, #202c22, #2f4131, #405742);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home .name h1 {
    font-size: 60px;
    font-weight: 700;
    color: #afb4ad;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

@media screen and (max-width:768px) {
    .home .name h1 {
        font-size: 50px;
    }
}

.home .iam p {
    color: #87818c;
    font-size: 25px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 15px;
}

.home .welcome p {
    padding-top: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #f7f2f2;
    text-align: justify;
}

.social {
    margin-top: 60px;
    font-size: larger;
}

/* ----------  About Me  ---------- */

.aboutme {
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: #000000;
}

.aboutme .container-fluid {
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.aboutme .section-header {
    margin-bottom: 30px;
    position: relative;
}

.aboutme .section-header h1 {
    color: #36454f;
    font-size: 2rem;
    text-align: center !important;
}

.aboutme .about-text {
    padding-top: 3.5rem;
}

.aboutme .about-text p {
    font-size: 16px;
    color: #edecdf;
    text-align: justify;
    letter-spacing: 1px;
}

.aboutme .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0rem 4rem
}

.aboutme .photo img {
    width: 300px;
}

/* ----------  Skills  ---------- */

.skills {
    background: #000000;
}

.skills .section-header {
    padding-bottom: 3rem;
}

.skills .section-header h1 {
    color: #36454f;
    font-size: 2rem;
    text-align: center !important;
}

.skills .skill-name {
    margin-top: 15px;
}

.skills .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #87818c;
}

.skills .skill-name p:last-child {
    float: right;
}

.skills .progress {
    height: 10px;
    border-radius: 10px;
    background: #ddd;
}

.skills .progress .progress-bar {
    background: #355d39;
    border-radius: 10px;
    transition: 2s;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000;
    background: #355d39;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #ddd;
    color: #355d39;
}


/* ----------  Experience  ---------- */

.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.experience .section-header {
    position: relative;
    margin-bottom: 45px;
}

.experience .section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.experience .section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: #EF233C;
    z-index: -1;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: #EF233C;
    z-index: 1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

/* Arror */
.experience .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 46px;
    right: 10px;
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #EF233C;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #EF233C;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item.right::before {
    left: 10px;
    border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #EF233C;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

@media (max-width: 767.98px) {
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    .experience .timeline .timeline-item.left::before, .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    .experience .timeline .timeline-item.left .timeline-text, .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
    .experience .timeline .timeline-item.left .timeline-date, .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    .experience .timeline .timeline-item.left::after, .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }
    .experience .timeline::after {
        left: 8px;
    }
}

/* ----------  Projects  ---------- */

.projects {
    background: black;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.projects .section-header {
    position: relative;
    margin-bottom: 60px;
    color: #87818c;
}

.card-title {
    letter-spacing: 1px;
    font-weight: 600;
}

.card-text {
    letter-spacing: 1px;
    text-align: justify;
}

/* ----------  Contact Me ----------  */
.contactme {
    background: linear-gradient(to right, #000000, #111613, #202c22, #2f4131, #405742);
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.contactme .section-header {
    padding-bottom: 40px;
}

.location,
.email,
.phonenumber {
    padding-top: 10px;
    color: #95b391;
}

.contactme-text {
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #edecdf;
}